{include file="public/header" /}
<body>
<div class="page-container" style="padding: 0 20px;">
	<form class="form form-horizontal form-o2o-add" id="form-o2o-add" enctype="multipart/form-data" method="post" action="{:url('banners/update')}">
		<input type="hidden" name="id" value="{$rec_res.id}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>图片：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="file" value="{$rec_res.image}" id="image" name="image">
				<!--<img style="width: 15%;" src="http://ypadmin.dxshuju.com/img/{$rec_res.image}" id="image_c" onclick="F_Open('image_c','image')" >-->
				<img style="width: 15%;" src="http://39.105.68.130/img/{$rec_res.image}" id="image_c" onclick="F_Open('image_c','image')" >



			</div>

		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>ios路径：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  id="rout_ios" name="rout_ios" value="{$rec_res.rout_ios}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>android路径：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  id="rout_android" name="rout_android" value="{$rec_res.rout_android}">
			</div>
		</div>


		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button  type="submit" class="btn btn-primary radius" ><i class="Hui-iconfont">&#xe632;</i> 保存</button>
				
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>
</div>
{load href="__STATIC__/admin/h_ui/lib/jquery/1.9.1/jquery.min.js" /}
<script type="text/javascript" src="__STATIC__/admin/h_ui/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h_ui/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__STATIC__/admin/h_ui/static/h-ui.admin/js/H-ui.admin.js"></script>
{load href="__STATIC__/bis/js/common.js" /}
<script type="text/javascript">
	$(document).ready(function(){
		//设置图片
		$('#image').css('display','none');


	});
	function F_Open(id1,id2) {
		$('#' + id1).css('display', 'none');
		$('#' + id2).css('display', 'block');
		document.getElementById(id2).click();
	}
</script>


