{include file="public/header" /}
<body>
<div class="page-container">
    <form class="form form-horizontal form-o2o-add" id="form-o2o-add" method="post" action="{:url('member/save')}">




        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商家id：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="bis_id" name="bis_id">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>用户id：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="mem_id" name="mem_id">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>用户名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="username" name="username">
            </div>
        </div>
        <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>昵称：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="nickname" name="nickname">
        </div>
        </div>
            <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>真实姓名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="truename" name="truename">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">图片上传: </label>
            <div class="formControls col-xs-8 col-sm-9">
                <label style="margin-left: 1%;">图片:</label>
                <input type="file" class="input-text1" value="" placeholder="" id="photo" name="photo">
                <label style="margin-left: 1%;" class="intro"></label><br>
            </div>
        </div>
         <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>会员类型：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="radio"  value="0" placeholder="0" id="type1" name="type">普通会员
                <input type="radio"  value="1" placeholder="" id="type2" name="type">VIP会员
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="password" class="input-text" value="" placeholder="" id="password" name="password">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>邮箱：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="email" name="email">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>身份证号码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="id_number" name="id_number">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>性别：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="radio"  value="1" placeholder="1" id="sex1" name="sex">男
                <input type="radio"  value="2" placeholder="" id="sex2" name="sex">女
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>年龄：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="age" name="age">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所在省：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="province_id" name="province_id">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所在市：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="city_id" name="city_id">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>详细地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="address" name="address">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>邮编：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="postcode" name="postcode">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>手机：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="mobile" name="mobile">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>联系电话：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="tel" class="input-text" value="" placeholder="" id="telephone" name="telephone">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>QQ：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="qq" name="qq">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>预存款：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="pre_deposit" name="pre_deposit">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>积分：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="jifen" name="jifen">
            </div>
        </div>
        <!--<div class="row cl">-->
            <!--<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>创建时间：</label>-->
            <!--<div class="formControls col-xs-8 col-sm-9">-->
                <!--<input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="name" name="create_time">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row cl">-->
            <!--<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>最后登录：</label>-->
            <!--<div class="formControls col-xs-8 col-sm-9">-->
                <!--<input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="name" name="last_login_time">-->
            <!--</div>-->
        <!--</div>-->
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>登录次数：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="0" placeholder="" id="login_times" name="login_times">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>是否为分销会员：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="radio"  value="0" placeholder="0" id="is_fenxiao1" name="is_fenxiao">否
                <input type="radio"  value="1" placeholder="" id="is_fenxiao2" name="is_fenxiao">是
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>状态：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="0" placeholder="" id="name" name="status">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>推荐人：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="0" placeholder="" id="rec_id" name="rec_id">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>可提现金额：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="0.00" placeholder="" id="ketixian" name="ketixian">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>提现总金额：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="0.00" placeholder="" id="tixianzhong" name="tixianzhong">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>图片路径：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="code_url" name="code_url">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>品牌名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="avatar_url" name="avatar_url">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>城市：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="city" name="city">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>国家：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="country" name="country">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>省份：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="province" name="province">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>直接收入：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="0.00" placeholder="" id="direct_selling_income" name="direct_selling_income">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>是否加入组织：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="radio"  value="0" placeholder="0" id="team_status1" name="team_status">未加入
                <input type="radio"  value="1" placeholder="" id="team_status2" name="team_status">已加入
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>token值：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="token" name="token">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>小区id：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input style="width: 30%;" type="text" class="input-text" value="" placeholder="" id="sid" name="sid">
            </div>
        </div>


        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button  type="submit" class="btn btn-primary radius" ><i class="Hui-iconfont">&#xe632;</i> 保存</button>

                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
</div>
<!--包含头部文件-->
{include file="public/footer" /}